In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
page = requests.get('https://books.toscrape.com/')

In [3]:
soup = BeautifulSoup(page.content,'html.parser')

In [4]:
cards = soup.select("article.product_pod")
print("Books found:", len(cards))

Books found: 20

In [5]:
card = cards[0]
card

<article class="product_pod">
<div class="image_container">
<a href="catalogue/a-light-in-the-attic_1000/index.html"><img alt="A Light in the Attic" class="thumbnail" src="media/cache/2c/da/2cdad67c44b002e7ead0cc35693c0e8b.jpg"/></a>
</div>
<p class="star-rating Three">
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
</p>
<h3><a href="catalogue/a-light-in-the-attic_1000/index.html" title="A Light in the Attic">A Light in the ...</a></h3>
<div class="product_price">
<p class="price_color">£51.77</p>
<p class="instock availability">
<i class="icon-ok"></i>

        In stock

</p>
<form>
<button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
</form>
</div>
</article>

In [6]:
books = []
for book in cards:
    title = book.h3.a["title"]
    price = book.select_one("p.price_color").text
    availability = book.select_one("p.instock").get_text(strip=True)

    rating_text = book.select_one("p.star-rating")["class"][1]
    rating_map = {"One":1, "Two":2, "Three":3, "Four":4, "Five":5}
    rating = rating_map.get(rating_text, 0)

    books.append({
        "Title": title,
        "Price": price,
        "Availability": availability,
        "Rating": rating
    })

In [7]:
df = pd.DataFrame(books)

In [8]:
df.shape

(20, 4)

In [9]:
df.head()

                                   Title   Price Availability  Rating
0                   A Light in the Attic  £51.77     In stock       3
1                     Tipping the Velvet  £53.74     In stock       1
2                             Soumission  £50.10     In stock       1
3                          Sharp Objects  £47.82     In stock       4
4  Sapiens: A Brief History of Humankind  £54.23     In stock       5

In [10]:
df.to_csv("books3.csv", index=False)
df.to_excel("books3.xlsx", index=False)